#divclass{  background-color: rgb(255, 255, 255);  height: 200px; 
   
    margin-top: 5px;
   
    }

#divclass h1{  margin-top: 20px; font-size: 35px; font-family: 'Courgette', cursive; text-align: center;}

#divclass p{ width: 90% !important; font-size: 20px; font-family: 'Open Sans', sans-serif;  text-align:justify;}

iframe{width: 90% !important; margin-top: 10px; border: 2px solid orange !important;}

#loc{ margin-top: 20px; font-size: 35px; font-family: 'Courgette', cursive; text-align: center; }

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card {
   
    width: 30%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(149, 149, 149);
    margin-bottom: 10px;
    transition: 0.3s;
    border-radius: 20px;
  }
  
  .card-header {
    border-radius: 20px;
    text-align: center;
    padding: 2px 2px;
    
    color: rgb(109, 109, 109);
    
  }
  .card-header h1{ color: black; font-size:50px;}
  
  .card-body {
    padding: 15px 15px;
    text-align:center;
    font-size: 18px;
  }
  
  .card-body .btn {
    border-radius: 20px;
    display: block;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(to right, rgb(142, 183, 224) , rgb(116, 80, 173));
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .card p{ font-size: 17px !important; color: rgb(0, 0, 0);}
  .card:hover{

    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);

  }


  


  @media screen and (max-width: 1000px) {
    .card {
      width: 95%;
    }
  }


  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 95%;
    }
  }


 
.calldiv i{ font-size: 25px; padding: 10px; color: rgba(5, 57, 124, 0.678); }
.calldiv i span{ font-family: 'Open Sans', sans-serif; font-size: 15px; color: black;}


::-webkit-scrollbar
{
  width: 3px;
  
}

::-webkit-scrollbar-thumb:horizontal{
  background:orange; 
    }

::-webkit-scrollbar-thumb {
  background:orange; 
 
}


::-webkit-scrollbar-thumb:hover {
  background:black; 
}